</main>

<div class="background">
  <div class="container">
    <footer class="d-flex justify-content-center py-3">
      <% const year = new Date().getFullYear() %>
      <p><%= `Copyright Jech © ${year}` %></p>
    </footer>
  </div>
</div>
</body>

</html>